<h2>Your Coupons in circulation</h2>
<table class="table table-striped table-condensed">
  <thead>
    <tr>
      <th>Creator address</th>
      <th>Payload</th>
      <th>Owner address</th>
    </tr>
  </thead>

  <tbody>
    <% @coupons_circulating.each do |coupon| %>
      <tr>
        <td><%= coupon['coupon']['creatorAddress'] %></td>
        <td><%= coupon['coupon']['payload'] %></td>
        <td><%= coupon['ownerAddress'] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
