<h2>Listing your coupons</h2>
<p>
  Public address of mobile client: 1Kau4L6BM1h6QzLYubq1qWrQSjWdZFQgMb
</p>
<table class="table table-striped table-condensed">
  <thead>
    <tr>
      <th>Creator Address</th>
      <th>Payload</th>
      <th>Issue</th>
      <th>Delete</th>
    </tr>
  </thead>

  <tbody>
    <% @coupons.each do |coupon| %>
      <tr>
        <td><%= truncate(coupon['creatorAddress'], length: 13) %></td>
        <td><%= coupon['payload'] %></td>
        <td><%= render 'issue_form', creator_address: coupon['creatorAddress'], payload: coupon['payload'] %></td>
        <td><%= render 'delete_form', creator_address: coupon['creatorAddress'], payload: coupon['payload'], private_key: 'create' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
