<h2>Generate new coupon</h2>
<%= link_to 'Generate coupon', generate_creation_transaction_path, class: "btn btn-success" %>
<br>
<br>
<p>
<textarea rows="4" cols="30" placeholder="Payload"></textarea>
</p>