<h2>Your returned coupons</h2>
<table class="table table-striped table-condensed">
  <thead>
    <tr>
      <th>Title</th>
      <th>Mark as spent</th>
    </tr>
  </thead>

  <tbody>
    <% @coupons_returned.each do |coupon| %>
      <tr>
        <td><%= coupon['payload'] %></td>
        <td><%= render 'delete_form', creator_address: coupon['creatorAddress'], payload: coupon['payload'], private_key: 'return', submit_name: 'Accept' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
