<div class="users col-md-12">
  <div class="row new-coupon-form">
    <%= render 'generate_form' %>
  </div>
  <div class="row">
    <%= render 'coupons' %>
  </div>
  <div class="row">
    <%= render 'coupons_in_circulation' %>
  </div>
  <div class="row">
    <%= render 'returned_coupons' %>
  </div>
</div>