<div class="users col-md-12">
  <div class="new-coupon-form">
    <%= render 'generate_form' %>
  </div>
  <%= render 'coupons' %>
  <%= render 'coupons_in_circulation' %>
  <%= render 'returned_coupons' %>
</div>