<div class="users col-md-12">
  <div class="new-coupon-form">
    <%= render 'transactions/forms/generate' %>
  </div>
  <%= render 'transactions/coupons/created' %>
  <%= render 'transactions/coupons/circulating' %>
  <%= render 'transactions/coupons/returned' %>
</div>