<div class="users col-md-12">
  <div class="pull-right">
    <%= link_to 'Show', @user, class: "btn btn-default" %>
    <%= link_to 'All users', users_path, class: "btn btn-default" %>
  </div>
  <h2>Editing user</h2>

  <%= render 'form' %>
  </div>
</div>
