<div class="users">
  <div class="pull-right">
    <%= link_to 'Back', users_path, class: "btn btn-default" %>
    <%= link_to 'Show', @user, class: "btn btn-default" %>
  </div>
  <h2>Editing user</h2>

  <%= render 'form' %>
  </div>
</div>
